<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Netflix </title>

    <!-- SEO -->
    <title> Netflix </title>
    <meta name="description" content="Netflix">

    <!-- Bootstrap 4.4.1 -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Flickity 2.2.1 -->
    <link rel="stylesheet" type="text/css" href="css/flickity.css">
    <!-- JQuery UI -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- FAVICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="media/images/netflix_icon.png">
    <link rel="shortcut icon" sizes="16x16" href="media/favicon/favicon-16x16.png">
    <link rel="shortcut icon" sizes="32x32" href="media/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon icon" sizes="76x76" href="media/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon icon" sizes="120x120" href="media/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon icon" sizes="152x152" href="media/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon icon" sizes="180x180" href="media/favicon/apple-icon-180x180.png">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#141414">
</head>
<body>
    <header>
        @Html.Partial("Header.cshtml");
    </header>
    <div class="container" style="margin-top:2% !important">
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FilmFusion.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
